footer {
    background-color: #f5f5f7;
    border-top: 1px solid #e4e4e4;
}

.footerContent {
    display: flex;
    flex-direction: column;
    width: 980px;
    margin: auto;
}

.footer-text {
    color: #7d7d7e;
    font-size: 12px;
    padding-top: 17px;
    border-bottom: 1px solid;
    border-color: #d3d3d4;
    padding-bottom: 22px;
}

#last-p-footer {
    margin-bottom: 0;
}

#supportFooterLink {
    color: #7d7d7e;
}

.footerColumnsList {
    border-top: 1px;
    border-color: #7d7d7e;
    display: flex;
    padding-top: 20px;
    font-size: 12px;
}

.footerList {
    list-style-type: none;
    padding-left: 0;
}

.footerListBottom {
    list-style-type: none;
    padding-left: 0;
    margin-top: 24px;
}

.footerColumn {
    width: 176px;
}

.footerColumnListTitle {
    font-weight: 550;
}

.footerColumnListText {
    color: #454545;
    margin-block: 10px;
}

#footerFirstColumnSecList {
    margin-top: 24px;
}

.footerLink {
    text-decoration: none;
    color: #1a1a1a;
}

.footerLink:hover {
    text-decoration: underline;
}

.policy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
