footer {
    background-color: var(--footer-bg-color);
    border-top: 1px solid var(--footer-br-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 980px;
    margin: auto;
}

.footer-text {
    color: var(--footer-text-color);
    font-size: 12px;
    padding-top: 17px;
    border-bottom: 1px solid;
    border-color: var(--footer-border-color);
    padding-bottom: 22px;
    line-height: 20px;
}

#last-p-footer {
    margin-bottom: 0;
}

#support-footer-link {
    color: var(--footer-link-color);
}

.footer-columns-list {
    border-top: 1px;
    border-color: var(--footer-border-color);
    display: flex;
    padding-top: 20px;
    font-size: 12px;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
}

.footer-list-bottom {
    list-style-type: none;
    padding-left: 0;
    margin-top: 24px;
}

.footer-column {
    width: 176px;
}

.footer-column-list-title {
    font-weight: 550;
}

.footer-column-list-text {
    color: var(--footer-list-text-color);
    margin-block: 10px;
}

#footer-first-column-sec-list {
    margin-top: 24px;
}

.footer-link {
    text-decoration: none;
    color: var(--footer-list-text-color);
}

.footer-link:hover {
    text-decoration: underline;
}

.policy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-blue-link {
    color: var(--blue-text-color);
}
