footer {
    background-color: var(--footer-bg-color);
    border-top: 1px solid var(--footer-br-color);
}

.footerContent {
    display: flex;
    flex-direction: column;
    width: 980px;
    margin: auto;
}

.footer-text {
    color: var(--footer-text-color);
    font-size: 12px;
    padding-top: 17px;
    border-bottom: 1px solid;
    border-color: var(--footer-border-color);
    padding-bottom: 22px;
}

#last-p-footer {
    margin-bottom: 0;
}

#supportFooterLink {
    color: var(--footer-link-color);
}

.footerColumnsList {
    border-top: 1px;
    border-color: var(--footer-border-color);
    display: flex;
    padding-top: 20px;
    font-size: 12px;
}

.footerList {
    list-style-type: none;
    padding-left: 0;
}

.footerListBottom {
    list-style-type: none;
    padding-left: 0;
    margin-top: 24px;
}

.footerColumn {
    width: 176px;
}

.footerColumnListTitle {
    font-weight: 550;
}

.footerColumnListText {
    color: var(--footer-list-text-color);
    margin-block: 10px;
}

#footerFirstColumnSecList {
    margin-top: 24px;
}

.footerLink {
    text-decoration: none;
    color: var(--footer-list-text-color);
}

.footerLink:hover {
    text-decoration: underline;
}

.policy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-blue-link {
    color: var(--blue-text-color);
}
