.iphoneSection {
    width: 100%;
    height: 690px;
    background-color: black;
    background-image: url(../cache/iphonesbg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 12px;
}

.iphoneSectionContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0px;
}

#iPhoneTitle {
    color: white;
    font-size: 56px;
    margin: 0px;
    margin-top: 47px;
    margin-bottom: 14px;
    font-weight: bold;
}

#iPhoneTextline {
    color: white;
    font-size: 28px;
    margin: 0px;
}

.iPhoneButtonsContainer {
    margin-top: 19px;
}

#iPhone15ExploreBtn {
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
    width: fit-content;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #0071e3;
}

#iPhone15ExploreBtn:hover {
    background-color: #0071e3;
    transition: 0.2s;
}

#iPhone15ProExploreBtn {
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
    width: fit-content;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #0071e3;
}

#iPhone15ProExploreBtn:hover {
    background-color: #0071e3;
    transition: all 0.2s;
}