.iphoneSection {
    width: 100%;
    height: 690px;
    background-color: black;
    background-image: url(../cache/iphonesbg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 12px;
}

.iphoneSectionContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
}

#iPhoneTitle {
    color: white;
    font-size: 56px;
    margin: 47px 0 14px;
    font-weight: bold;
}

#iPhoneTextLine {
    color: white;
    font-size: 28px;
    margin: 0;
}

.iPhoneButtonsContainer {
    margin-top: 19px;
}

.iPhone15Btn {
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    background-color: black;
    padding: 12px 22px;
    width: fit-content;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #0071e3;
}

.iPhone15Btn:hover {
    background-color: #0071e3;
    transition: 0.2s;
}
