.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(5px);
}

.nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

#apple-ico {
    height: inherit;
    display: flex;
    align-items: center;
    fill: var(--nav-button-color);
}

 #apple-ico:hover {
     fill: var(--nav-button-hovered-color);
     transition: .32s;
}

#header-content {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
}

.searchButtonNav {
    height: inherit;
    display: flex;
    align-items: center;
}

.nav-button {
    padding-left: 16px;
    margin-left: 19px;
    text-decoration: none;
    color: var(--nav-button-color);
    height: 10px;
}

.nav-button:hover {
    color: var(--nav-button-hovered-color);
    fill: var(--nav-button-hovered-color);
    transition: 0.2s;
}

#search-nav-button {
    display: flex;
    align-items: center;
    fill: var(--nav-button-color);
}

#search-nav-button:hover {
    fill: var(--nav-button-hovered-color);
    transition: .2s;
}