.card-layer {
    display: flex;
    margin-bottom: 12px;
}

.card {
    height: 580px;
    width: 50%;
}

#macbook-card {
    background-image: url(../cache/macBookAirBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#watch-card {
    background-image: url(../cache/watchCardBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-text-color);
}

#ipad-card {
    background-image: url(../cache/iPadCardBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#airpods-card {
    background-image: url(../cache/airPodsCardBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-text-color);
}

#card-card {
    background-image: url(../cache/cardCardBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#trade-card {
    background-image: url(../cache/tradeCardBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 53px;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
    font-weight: 550;
}

.card-text-line {
    padding: 0;
    margin: 4px 0 0;
    display: flex;
    font-size: 21px;
    justify-content: center;
    align-items: center;
}

.card-buttons {
    margin: 4px 0 0;
}

.card-learn-more-button {
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    border: 0;
    padding: 12px 22px;
    width: fit-content;
    display: inline-block;
    color: var(--white-text-color);
    background-color: var(--blue-button-color);
}

.card-learn-more-button:hover {
    background-color: var(--blue-button-hovered-color);
}

.card-buy {
    cursor: pointer;
    text-decoration: none;
    color: var(--blue-button-color);
    border-radius: 25px;
    background-color: transparent;
    padding: 12px 22px;
    width: fit-content;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--blue-button-color);
}

.card-buy:hover {
    background-color: var(--blue-button-hovered-color);
    color: var(--white-text-color);
}

#card-text-line {
    text-align: center;
}

#trade-text-line {
    text-align: center;
}

#third-cards-layer {
    margin-bottom: 56px;
}