.cardLayer {
    display: flex;
    margin-bottom: 12px;
}

.card {
    height: 580px;
    width: 50%;
}

#macBookCard {
    background-image: url(../cache/macBookAirBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#watchCard {
    background-image: url(../cache/watchCardBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-text-color);
}

#iPadCard {
    background-image: url(../cache/iPadCardBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#airPodsCard {
    background-image: url(../cache/airPodsCardBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-text-color);
}

#cardCard {
    background-image: url(../cache/cardCardBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tradeCard {
    background-image: url(../cache/tradeCardBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 53px;
}

.cardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
    font-weight: 550;
}

.cardTextLine {
    padding: 0;
    margin: 4px 0 0;
    display: flex;
    font-size: 21px;
    justify-content: center;
    align-items: center;
}

.cardButtons {
    margin: 4px 0 0;
}

.cardLearnMore {
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    border: 0;
    padding: 12px 22px;
    width: fit-content;
    display: inline-block;
    color: var(--white-text-color);
    background-color: var(--blue-button-color);
}

.cardLearnMore:hover {
    background-color: var(--blue-button-hovered-color);
}

.cardBuy {
    cursor: pointer;
    text-decoration: none;
    color: var(--blue-button-color);
    border-radius: 25px;
    background-color: transparent;
    padding: 12px 22px;
    width: fit-content;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--blue-button-color);
}

.cardBuy:hover {
    background-color: var(--blue-button-hovered-color);
    color: var(--white-text-color);
}

#cardTextLine {
    text-align: center;
}

#tradeTextLine {
    text-align: center;
}

#thirdCardsLayer {
    margin-bottom: 56px;
}