@import "nav.css";
@import "eventSection.css";
@import "iphoneSection.css";
@import "visionSection.css";
@import "saleCards.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}