.visionSection {
    width: 100%;
    height: 872px;
    background-image: url(../cache/visipnprobg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.visionContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#visionTitile {
    display: flex;
    margin-top: 662px;
}

#visionProTitle {
    color: white;
    font-size: 56px;
    margin: 0px;
    font-weight: bold;
}

#visionTextLineContent {
    font-size: 28px;
    color: white;
    margin: 0px;
}

.visionButtonsContainer {
    margin-top: 19px;
}

#visionLearnMore {
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    border: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
    width: fit-content;
    display: inline-block;
}

#visionLearnMore:hover {
    background-color: #bbbbbb;
    transition: 0.2s;
}

#visionBuy {
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
    width: fit-content;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

#visionBuy:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}